@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&family=Press+Start+2P&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-color-progress-light: #fbcc14;
  --rsbs-backdrop-bg: rgba(0, 0, 0, 0.6);
  --rsbs-bg: #FFF8E4;
  --rsbs-handle-bg: hsla(0, 0%, 0%, 0.14);
  --rsbs-max-w: 850px;
  --rsbs-ml: auto;
  --rsbs-mr: auto;
  --rsbs-overlay-rounded: 16px;
}

reach-portal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.emojipop {
  z-index: -10;
}

.Toastify {
  z-index: 999999;
}

.Toastify__toast {
  background: #FFF8E4;
  border-radius: 0px;
  border-width: 1px;
  border-color: black;
  z-index: 999999;
  color: black;
  font-family: 'Comic Neue';
  font-weight: normal;
}

.Toastify__toast-container {
  z-index: 999999;
  }

html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-wekbik-scrollbar-track {
  border-style: solid;
  border-width: 2px;
  border-color: #d2cbbb;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #d2cbbb;
  border-radius: 8px;
}

::-webkit-scrollbar-corner {
  background-color: #d2cbbb;
}