@import 'dsl/styles/globals.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  height: 100%;
  min-height: inherit;
  display: flex;
  flex-direction: column;
}

[data-rk] {
  flex-grow: 1;
  display: grid;
}